<!DOCTYPE html>
<html>
  <head>
    <!-- <title>ギャラ飲み（タイトル）</title> -->
    <meta charset="utf-8">
    <title>ギャラ飲み</title>
    <link rel="stylesheet" href="stylesheet.css">
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Pintech</h1>
        <h5>（キャッチコピー）</h5>
        <h4>（サブコピー）</h4>
      </div>
      <div class="container-image">
        <!-- <img src="screenshot-women.jpg", alt="アプリのimage"> -->
      </div>
      <div class="btn-wrapper">
        <a href="#" class="btn appstore">
          <span class="fa fa-apple"></span>
          AppStore
        </a>
        <a href="#" class="btn line">LINEで友達追加</a>
      </div>
      <div class="space">space</div>
    </header>

    <!-- <div class="btn-wrapper">
      <a href="#" class="btn appstore">
        <span class="fa fa-apple"></span>
        AppStore
      </a>
      <a href="#" class="btn line">LINEで友達追加</a>
    </div> -->

    <div class="empathy-wrapper">
      <h2>気軽に楽しく稼ぎたい...</h2>
      <h2>普段出会えない人と遊びたい...</h2>
    </div>

    <div class="presentation-wrapper">
      <h2>Pintechはアプリですぐに参加できる！</h2>
      <%= image_tag('screen_app.jpg', :size => "180") %>
    </div>

    <div class="benefit-wrapper">
      <div class="heading">
        <h3>こんなbenefitがあるよ</h3>
      </div>
      <div class="benefit elements">
        <div class="benefit safety">
          <h2>身バレしない</h2>
        </div>
        <div class="space">space</div>
        <div class="benefit price">
          <h2>給料の金額を自分で決められる</h2>
        </div>
      </div>
    </div>

    <div class="example-wrapper"></div>

    <div class="flow-wrapper">
      <div class="heading">
        <h3>参加までの流れ</h3>
      </div>
      <div class="flow">
        <h3>1. LINEを追加する</h3>
        <h3>2. 面談日程決める</h3>
        <h3>3. キャスト登録</h3>
      </div>
    </div>

    <div class="btn-wrapper">
      <a href="#" class="btn appstore">
        <span class="fa fa-apple"></span>
        AppStore
      </a>
      <a href="#" class="btn line">LINEで友達追加</a>
    </div>

    <div class="footer">
      <div class="sns-wrapper">
        <a href="#" class="sns twitter">
          <span class="fa fa-twitter"></span>
        </a>
      </div>
      <div class="footer-list">
          <a href="#">会社概要</a>
          <a href="#">お問い合わせ</a>
      </div>
    </div>
  </body>
</html>